@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap');

/*
    Kurdish Heritage Typography: Rabar Unicode
    Primary testing font for cultural indexing and aesthetics
*/

@font-face {
      font-family: 'Rabar_013';
      /* Bold/Heavy */
    src: url('./assets/fonts/Rabar_013.woff') format('woff'),
               url('./assets/fonts/Rabar_013.ttf') format('truetype');
      font-weight: bold;
      font-style: normal;
      font-display: swap;
}
